$primary-color: #666666;
$secondary-color: #ff7200;
$white-color: #fff;
$large: 1200px;
$medium: 992px;
$medium2: 768px;
$small: 576px;
$extra-small: 368px;
@mixin bg-img ($imgUrl) {
  background: url($imgUrl);
  background-position: center;
  background-size: cover;
}
@mixin dflex ($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $primary-color;
  list-style: none;
  list-style-image: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
}

.backToTopBtn {
  position: fixed;
  display: none;
  bottom: 2rem;
  right: 2rem;
  min-width: 3rem;
  min-height: 3rem;
  background-color: $secondary-color;
  outline: none;
  border: none;
  border: 1px solid $secondary-color;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  i {
    font-size: 2em;
    color: $white-color;
  }
}

.btn {
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: $white-color;
  border: 1px solid $white-color;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.section {
  .wrapper {
    @include dflex (center, center);
    flex-direction: column;

    .section__title {
      width: 50%;

      .section__header {
        color: $primary-color;
        font-weight: bolder;
        margin-top: 2em;
        font-size: 2.5em;
        text-align: center;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -0.8rem;
          width: 12rem;
          left: 50%;
          margin-left: -6rem;
          height: 2px;
          background-color: $primary-color;
        }
      }

      .section__subheader {
        margin: 2.5rem 0 4rem;
        text-align: center;
      }
    }
  }
}

.wrapper {
  padding: 0 5% 5rem;
}

.header {
  height: 100vh;
  @include bg-img("../img/background.png");
  border-top: 3px solid $secondary-color;
  border-bottom: 3px solid $secondary-color;

  .header__nav {
    margin: 3rem 5% 0;

    .header-menu {
      @include dflex (center, center);

      .header-menu__item {
        display: inline-block;
        padding: 1em;

        .header-menu__text {
          text-transform: uppercase;
          font-weight: 600;
          color: $white-color;
        }

        &.dropdown {
          position: relative;
          display: inline-block;

          .dropdown-content {
            display: none;
            position: absolute;
            top: 2.5em;
            left: 0;
            background-color: #343434;
            border-radius: 5px;
            min-width: 220px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;

            .dropdown-content__item {
              color: $white-color;
              padding: 12px 16px;
              display: block;

              .dropdown-content__text {
                color: #bbbbbb;
                text-transform: uppercase;

                .dropdown-content__icon {
                  display: inline;
                  float: right;
                }
              }

              &:hover {
                &.submenu--open {
                  .dropdown-submenu {
                    display: block;
                    position: absolute;
                    right: -160px;
                  }
                }
              }

              &:hover {
                .dropdown-content__text {
                  color: $white-color;
                }
              }

              .dropdown-submenu {
                display: none;
                position: relative;
                background-color: #343434;
                border-radius: 5px;
                min-width: 160px;
                transform: translateY(-1.75rem);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                z-index: 1;

                .dropdown-submenu__item {
                  padding: 12px 16px;

                  .dropdown-submenu__text {
                    color: #bbbbbb;
                    text-transform: uppercase;

                    &:hover {
                      color: $white-color;
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          background-color: #343434;
          border-radius: 7px;

          .header-menu__text {
            color: $secondary-color;
          }

          .dropdown-content {
            display: block;
          }
        }
      }

      .header-logo {
        border: 1px solid $white-color;
        padding: 1em 2em;
        width: 14em;
        color: $white-color;
        text-align: center;
        margin: 0 1em;

        .header-logo__title {
          color: $white-color;
          display: block;
          font-size: 3em;
          text-transform: uppercase;
          font-weight: 600;
        }

        .header-logo__subtitle {
          color: $white-color;
          font-size: 0.9em;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    position: relative;

    .hamburger-menu__icon {
      color: #fff;
      cursor: pointer;
      font-size: 2em;
      text-align: right;
      margin-right: 1rem;
    }

    .hamburger-menu__list {
      position: absolute;
      right: 1rem;
      display: none;
      background-color: #343434;
      border-radius: 5px;
      min-width: 220px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 99;

      .hamburger-menu__item {
        color: $white-color;
        padding: 12px 16px;
        display: block;

        .hamburger-menu__link {
          color: #bbbbbb;
          text-transform: uppercase;
        }

        &:hover {
          .hamburger-menu__link {
            color: $white-color;
          }
        }
      }
    }

    .hamburger-menu__list--active {
      display: block;
    }
  }

  .header-greeting {
    @include dflex (center, center);
    flex-direction: column;
    margin-top: 6em;

    .header-greeting__title {
      color: $white-color;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 5em;
    }

    .header-greeting__subtitle {
      color: $white-color;
      @include dflex (center, center);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5em;

      i {
        margin: 0 2em;
        font-size: 0.3rem;
      }

      span {
        font-size: inherit;
        font-weight: 600;
        color: $secondary-color;
      }
    }

    .header-greeting__btn {
      margin-top: 3rem;
    }
  }
}

.about {
  .wrapper {
    .about-content {
      @include dflex (space-between, flex-start);

      .about-content__img {
        width: 45%;
        // box-shadow: 0 15px 15px 5px $primary-color;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .about-content__text {
        width: 50%;

        .about-content__title {
          font-size: 1.5em;
          font-weight: 600;
        }

        .about-content__description {
          .about-content__paragraph {
            margin-top: 1.3em;

            &:last-child {
              font-style: italic;
            }
          }
        }

        .about-content__buttons {
          margin-top: 3rem;

          .about-btn {
            color: $secondary-color;
            border: 1px solid $secondary-color;
            margin-right: 25px;

            &:hover {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

.amazing {
  @include bg-img("../img/amazing.png");

  .wrapper {
    padding-bottom: 3rem;

    .section__title {
      .section__header {
        color: $white-color;

        &::after {
          background-color: $white-color;
        }
      }

      .section__subheader {
        color: $white-color;
      }
    }

    .amazing-content {
      @include dflex (space-between, center);
      flex-wrap: wrap;

      .amazing-content__item {
        @include dflex (space-between, flex-start);
        width: 30%;
        margin: 2.5rem 0;

        .amazing-content__icon {
          font-size: 2.5em;
          margin-right: 1em;
          color: $secondary-color;
        }

        .amazing-content__text {
          .amazing-content__header {
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 600;
            color: $white-color;
          }

          .amazing-content__subheader {
            color: $white-color;
            font-weight: 300;
            text-align: justify;
          }
        }
      }
    }
  }
}

.team {
  .wrapper {
    .team__list {
      @include dflex (space-around, center);
      flex-wrap: nowrap;

      .team-item {
        @include dflex (center, center);
        flex-direction: column;
        width: 20%;

        .team-item__photo {
          width: 100%;
        }

        .team-item__name {
          margin: 1em 0;

          .team-item__post {
            color: $secondary-color;
            font-weight: 600;

            &::before {
              content: '/ ';
            }
          }
        }

        .team-item__description {
          text-align: justify;
        }

        .team-item__social {
          @include dflex (center, center);
          margin-top: 1rem;

          .team-item__scnetw {
            @include dflex (center, center);
            border-radius: 50%;
            min-width: 2.5em;
            min-height: 2.5em;
            background-color: #f0f0f0;
            margin-right: 1em;
            transition: 0.3s;

            &:last-child {
              margin-right: 0;
            }

            .team-item__link {
              i {
                font-size: 1.3em;
              }
            }

            &:hover {
              background-color: $secondary-color;

              .team-item__link {
                i {
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.portfolio {
  .wrapper {
    padding: 0;

    .portfolio-content {
      @include dflex (flex-end, flex-end);
      flex-wrap: wrap;

      .portfolio-content__item {
        width: 25%;
        height: 250px;
        position: relative;

        .portfolio-content__img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: 0.5s;
        }

        .portfolio-content__icons {
          justify-content: center;
          align-items: center;
          position: absolute;
          display: none;
          width: 100%;
          top: 30%;
          margin-top: -25px;

          .icon-container {
            @include dflex (center, center);
            min-width: 50px;
            min-height: 50px;
            border: 3px solid #f0f0f0;
            border-radius: 50%;
            margin-right: 20px;

            i {
              color: #f0f0f0;
              font-size: 1.5em;
            }

            &:hover {
              background-color: #f0f0f0;

              i {
                color: $secondary-color;
              }
            }
          }
        }

        .portfolio-content__description {
          position: absolute;
          display: none;
          height: 35%;
          width: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: #f0f0f0;

          .portfolio-content__title {
            font-size: 1.5em;
            margin-top: 0.5em;
            text-align: center;
            color: #363636;
          }

          .portfolio-content__kind {
            text-align: center;
            text-transform: uppercase;
            margin-top: 0.3em;
            font-size: 1.2em;
            color: $primary-color;
          }
        }

        &:hover {
          cursor: pointer;

          .portfolio-content__img {
            filter: brightness(0.7);
          }

          .portfolio-content__icons {
            display: flex;
          }

          .portfolio-content__description {
            display: block;
          }
        }
      }
    }
  }
}

.buy {
  .wrapper {
    .section__title {
      .section__header {
        margin-bottom: 1.5em;
      }

      .section__subheader {
        span {
          color: $secondary-color;
        }
      }
    }

    .buy-controls {
      .buy-controls__btn {
        text-align: center;
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: #f0f0f0;
        width: 12rem;

        i {
          margin-right: 0.5em;
        }

        &:first-child {
          margin-right: 2rem;
        }

        &:hover {
          background-color: $white-color;
          color: $secondary-color;
        }
      }
    }
  }
}

.clients {
  @include bg-img("../img/clients.png");

  .wrapper {
    .section__title {
      .section__header {
        font-weight: 400;
        color: #f0f0f0;

        &::after {
          background-color: #f0f0f0;
        }
      }
    }

    .clients-content {
      width: 55%;
      margin-top: 5em;

      .clients-content__title {
        margin-bottom: 1em;
        text-transform: uppercase;
        font-size: 2em;
        color: #f0f0f0;
        text-align: center;
      }

      .clients-content__text {
        color: #f0f0f0;
        text-align: center;
      }

      .clients-content__author {
        margin-top: 1em;
        color: #f0f0f0;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;

        .clients-content__corp {
          font-size: 1em;
          color: $secondary-color;

          &::before {
            content: ' / ';
            color: #f0f0f0;
          }
        }
      }
    }
  }
}

.tooltip-clients {
  .wrapper {
    @include dflex (center, center);
    background-color: $secondary-color;
    height: 150px;
    padding: 0;

    .tooltip-clients__content {
      @include dflex (space-around, center);

      .tooltip-clients__item {
        cursor: pointer;
        width: 200px;

        .tooltip {
          position: relative;
          display: inline-block;

          .tooltiptext {
            position: absolute;
            width: 180px;
            padding: 5px 0;
            margin-left: -160px;
            transform: translateY(10px);
            background-color: #555;
            text-align: center;
            opacity: 0;
            border-radius: 6px;
            transition: opacity 0.3s;
            z-index: 10;

            .tooltiptext__company {
              display: block;
              font-size: 0.9em;
              color: $white-color;
            }

            .tooltiptext__text {
              display: block;
              margin-top: 0.4em;
              color: $white-color;
              font-size: 0.8em;
            }

            .tooltiptext__site {
              display: block;
              margin-top: 0.4em;
              font-size: 0.8em;
              color: $secondary-color;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent transparent #555 transparent;
            }
          }
        }

        &:hover {
          .tooltip {
            .tooltiptext {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.howwedo {
  .wrapper {
    .howwedo-content {
      @include dflex (space-around, flex-start);

      .howwedo-content__picture {
        width: 40%;
        max-width: 40%;
      }

      .howwedo-content__list {
        width: 50%;

        .howwedo-content__item {
          @include dflex (center, flex-start);
          margin-top: 3.5rem;

          .howwedo-icon-bg {
            @include dflex (center, center);
            min-width: 4em;
            min-height: 4em;
            background-color: $secondary-color;
            border-radius: 50%;
            margin-right: 1rem;

            .howwedo-content__icon {
              color: #f7f7f7;
              font-size: 2em;
            }
          }

          .howwedo-content__container {
            width: 90%;

            .howwedo-content__title {
              font-size: 1.5em;
              margin-bottom: 1em;
            }

            .howwedo-content__text {}
          }

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.contacts {
  background-color: #303030;

  .wrapper {
    .contacts-content {
      color: $white-color;
      @include dflex (space-around, flex-start);

      .contacts-content__item {
        width: 22%;

        .contacts-content__title {
          margin-top: 2rem;
          color: $white-color;
          font-size: 1.5em;
          margin-bottom: 1em;
          text-transform: capitalize;

          i {
            margin-right: 0.5em;
          }
        }

        .contact-info {
          @include dflex (center, flex-start);
          flex-direction: column;

          .contact-info__subtitle {
            margin-top: 1em;
            font-size: 0.9em;
            color: $white-color;
          }

          .contact-info__adress {
            color: $white-color;
            margin-top: 1em;

            span {
              color: $white-color;
              display: block;
            }

            .contact-info__street {
              color: #acabab;
            }
          }

          .contact-info__phone {
            margin-top: 1em;

            span {
              color: $white-color;
              display: block;
            }

            .contact-info__number {
              color: #acabab;
            }
          }

          .contact-info__mail {
            margin-top: 1em;

            span {
              display: block;
              color: $white-color;
            }

            .contact-info__mailadr {
              color: #acabab;
            }
          }

          .contact-info__social {
            @include dflex (space-around, center);
            margin-top: 1em;
            width: 90%;

            .contact-info__icon {
              @include dflex (center, center);
              // font-size: 1em;
              min-width: 2em;
              min-height: 2em;
              border: 1px solid $white-color;
              border-radius: 50%;
              cursor: pointer;

              .contact-info__link {
                i {
                  font-size: 1.3em;
                  color: $white-color;
                }
              }

              &:hover {
                border: 1px solid $secondary-color;

                .contact-info__link {
                  i {
                    color: $secondary-color;
                  }
                }
              }
            }
          }
        }

        .latest-post__item {
          @include dflex (space-between, flex-start);
          margin-top: 1em;

          .latest-post__img {
            width: 45%;
            margin-right: 1em;
            display: block;
          }

          .latest-post__title {
            color: $white-color;
            margin-bottom: 0.5em;
            text-transform: capitalize;
          }

          .latest-post__subtitle {
            color: #acabab;
            font-size: 0.9em;
          }

          .latest-post__date {
            color: $secondary-color;
            margin-top: 0.5em;
          }
        }

        .service-content {
          .service-content__item {
            margin-top: 1.5em;

            .service-content__title {
              width: 100%;
              color: $white-color;
              @include dflex (space-between, center);
              text-transform: capitalize;

              .i-container {
                min-width: 1.5em;
                min-height: 1.5em;
                background-color: $secondary-color;
                border-radius: 50%;
                @include dflex (center, center);

                i {
                  text-align: center;
                  font-size: 0.75em;
                  cursor: pointer;
                  color: $white-color;
                }
              }

              &.accordion {
                background-color: transparent;
                border: none;
                outline: none;
                padding: 0;
                font-size: 1.1em;
                cursor: pointer;
              }
            }

            .panel {
              display: none;
              overflow: hidden;
              position: relative;

              p {
                margin: 0.5em 0 1em;
                text-align: justify;
                color: #acabab;
              }

              &::after {
                content: '';
                position: absolute;
                bottom: -1em;
                width: 100%;
                left: 0;
                height: 2px;
                background-color: $white-color;
              }

              &.active {
                display: block;
              }
            }
          }
        }

        .contacts-form {
          @include dflex (flex-end, flex-end);
          flex-direction: column;

          .formcontrol {
            box-sizing: border-box;
            width: 100%;
            border-radius: 3px;
            border: 1px solid #acabab;
            padding: 10px 0 10px 10px;
            margin-bottom: 1em;
            outline-style: none;
            font-size: 0.9em;
            box-shadow: none;
            font-family: 'Open Sans';
            resize: none;
          }

          .contacts-form__button {
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            border-radius: 3px;
            padding: 10px 25px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  background-color: #202020;

  .wrapper {
    padding: 1rem 0;

    .footer-content {
      @include dflex (space-around, center);

      .left-part {
        width: 50%;
        @include dflex (space-around, center);

        .footer-logo {
          @include dflex (center, center);
          flex-direction: column;

          .footer-logo__title {
            color: $white-color;
            font-size: 2em;
            text-align: center;

            span {
              font-size: inherit;
              color: $secondary-color;
            }
          }

          .footer-logo__subtitle {
            color: $white-color;
            font-size: 1em;
            text-align: center;
            text-transform: uppercase;
          }
        }

        .footer-content__copyright {
          p {
            color: $white-color;
          }
        }
      }

      .rigth-part {
        width: 40%;

        .footer-menu {
          .footer-menu__item {
            display: inline-block;
            padding: 10px;

            .footer-menu__link {
              color: #acabab;
              text-transform: capitalize;
            }

            &:hover {
              .footer-menu__link {
                color: $white-color;
              }
            }
          }
        }
      }
    }
  }
}
// $large: 1200px;
// $medium: 992px;
// $medium2: 768px;
// $small: 576px;
// $extra-small: 312px;
@media (max-width: $large) {
  .tooltip-clients {
    .wrapper {
      .tooltip-clients__content {
        .tooltip-clients__item {
          width: 100px;
          margin-right: 3rem;

          img {
            width: 100%;
          }

          .tooltip {
            .tooltiptext {
              width: 120px;
              padding: 5px 0;
              margin-left: -120px;
              transform: translateY(10px);
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media (max-width: $medium) {
  .section {
    .wrapper {
      .section__title {
        width: 90%;

        .section__header {
          font-size: 2em;
        }

        .section__subheader {
          font-size: 1.1em;

          span {
            font-size: 1em;
          }
        }
      }
    }
  }

  .header {
    height: 75vh;
    padding-bottom: 3rem;

    .header__nav {
      display: none;
    }

    .hamburger-menu {
      display: block;
    }

    .header-greeting {
      .header-greeting__btn {
        font-size: 1em;
      }
    }
  }

  .team {
    .wrapper {
      .team__list {
        flex-wrap: wrap;

        .team-item {
          margin: 1.5rem 0;
          width: 45%;

          .team-item__photo {
            width: 50%;
          }

          .team-item__name {
            .team-item__post {}
          }

          .team-item__description {
            width: 85%;
          }

          .team-item__social {
            width: 85%;

            .team-item__scnetw {
              .team-item__link {
                font-size: 0.75em;
              }
            }
          }
        }
      }
    }
  }

  .portfolio {
    .wrapper {
      .portfolio-content {
        .portfolio-content__item {
          height: 100px;

          .portfolio-content__icons {
            top: 50%;
            margin-top: -1.5rem;

            .icon-container {
              min-width: 3rem;
              min-height: 3rem;
            }
          }

          &:hover {
            .portfolio-content__description {
              display: none;
            }
          }
        }
      }
    }
  }

  .tooltip-clients {
    display: none;
  }

  .howwedo {
    .wrapper {
      .howwedo-content {
        .howwedo-content__picture {
          display: none;
        }

        .howwedo-content__list {
          width: 100%;

          .howwedo-content__item {
            width: 100%;

            .howwedo-icon-bg {
              margin-right: 2rem;
            }

            .howwedo-content__container {
              .howwedo-content__text {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .contacts {
    .wrapper {
      .contacts-content {
        .contacts-content__item {
          width: 30%;

          &.posts {
            display: none;
          }

          &.form {
            .contacts-form {
              .contacts-form__button {
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-content {
      .left-part {
        width: 60%;

        .footer-logo {
          margin-right: 2rem;
          font-size: 0.75em;
        }

        .footer-content__copyright {
          text-align: center;

          p {
            font-size: 0.75em;
          }
        }
      }

      .rigth-part {
        width: 30%;

        .footer-menu {
          text-align: center;

          .footer-menu__item {
            .footer-menu__link {
              font-size: 0.75em;
            }
          }
        }
      }
    }
  }
}
@media (max-width: $medium2) {
  .header {
    .hamburger-menu {
      .hamburger-menu__list {
        .hamburger-menu__item {
          padding: 0.5em 1.5em;

          .hamburger-menu__link {
            // font-size: 0.85em;
          }
        }
      }
    }
  }

  .about {
    .wrapper {
      .about-content {
        width: 90%;
        @include dflex(center, center);
        text-align: center;

        .about-content__img {
          display: none;
        }

        .about-content__text {
          width: 90%;

          .about-content__buttons {
            .about-btn {
              display: block;
              margin-top: 1rem;
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .amazing {
    .wrapper {
      .amazing-content {
        .amazing-content__item {
          width: 45%;
          margin-top: 1rem;

          .amazing-content__icon {
            font-size: 1.5em;
          }

          .amazing-content__text {
            width: 85%;

            .amazing-content__header {}

            .amazing-content__subheader {}
          }
        }
      }
    }
  }

  .contacts {
    .wrapper {
      .contacts-content {
        .contacts-content__item {
          font-size: 0.8em;

          &.info {
            .contact-info {
              .contact-info__subtitle {
                font-size: 0.8em;
              }

              .contact-info__adress,
              .contact-info__adress,
              .contact-info__mail,
              .contact-info__phone {
                span {
                  font-size: 0.8em;
                }
              }

              .contact-info__social {
                .contact-info__icon {
                  font-size: 1em;

                  .contact-info__link {
                    font-size: 1em;
                  }
                }
              }
            }
          }

          &.services {
            .service-content {
              .service-content__item {
                .service-content__title {
                  font-size: 0.9em;

                  .i-container {
                    i {
                      font-size: 0.7em;
                    }
                  }
                }

                .service-content__subtitle {
                  p {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $small) {
  .header {
    .header-greeting {
      font-size: 0.5em;

      .header-greeting__subtitle {
        word-break: keep-all;
        text-align: center;
      }

      .header-greeting__btn {
        font-size: 1.5em;
      }
    }
  }

  .amazing {
    .wrapper {
      .amazing-content {
        .amazing-content__item {
          margin: 0.5rem 0;
          width: 90%;

          .amazing-content__icon {}

          .amazing-content__text {
            .amazing-content__header {}

            .amazing-content__subheader {}
          }
        }
      }
    }
  }

  .team {
    .wrapper {
      .team__list {
        .team-item {
          @include dflex(center, center);
          width: 100%;

          .team-item__photo {
            width: 50%;
          }

          .team-item__name {
            .team-item__post {}
          }

          .team-item__description {
            width: 100%;
          }

          .team-item__social {
            width: 100%;

            .team-item__scnetw {
              .team-item__link {
                font-size: 0.75em;
              }
            }
          }
        }
      }
    }
  }

  .portfolio {
    display: none;
  }

  .clients {
    .wrapper {
      .clients-content {
        font-size: 0.75em;
        width: 100%;

        .clients-content__text {
          width: 100%;
        }
      }
    }
  }

  .tooltip-clients {
    display: none;
  }

  .contacts {
    .wrapper {
      .contacts-content {
        .contacts-content__item {
          width: 45%;

          &.form {
            display: none;
          }

          &.info {
            .contact-info__social {
              .contact-info__icon {
                min-width: 1.5rem;
                min-height: 1.5rem;

                .contact-info__link {
                  i {
                    font-size: 0.8em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: $extra-small) {
  .buy {
    .wrapper {
      .buy-controls {
        .buy-controls__btn {
          display: block;
          margin-top: 1rem;

          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }

  .howwedo {
    .wrapper {
      .howwedo-content {
        .howwedo-content__list {
          .howwedo-content__item {
            .howwedo-icon-bg {
              display: none;
            }

            .howwedo-content__container {
              text-align: justify;
            }
          }
        }
      }
    }
  }

  .contacts {
    .wrapper {
      .contacts-content {
        .contacts-content__item {
          width: 100%;
          text-align: center;

          &.services {
            display: none;
          }

          &.info {
            .contact-info {
              .contact-info__item {
                width: 100%;
              }

              .contact-info__social {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
