$primary-color: #666666;
$secondary-color: #ff7200;

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $primary-color;
  list-style: none;
  list-style-image: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
}

.btn {
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .section__title {
    width: 50%;

    .section__header {
      color: $primary-color;
      font-weight: bolder;
      margin-top: 2em;
      font-size: 2.5em;
      text-align: center;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -0.8rem;
        width: 12rem;
        left: 50%;
        margin-left: -6rem;
        height: 2px;
        background-color: $primary-color;
      }
    }

    .section__subheader {
      margin: 2.5rem 0 4rem;
      text-align: center;
    }
  }
}

.header {
  height: 100vh;
  background: url("../img/background.png");
  background-position: center;
  background-size: cover;
  border-top: 3px solid $secondary-color;
  border-bottom: 3px solid $secondary-color;

  .header__nav {
    margin-top: 3rem;

    .header-menu {
      display: flex;
      justify-content: center;
      align-items: center;

      .header-menu__item {
        display: inline-block;
        padding: 1em 1.5em;

        .header-menu__text {
          text-transform: uppercase;
          font-weight: 600;
          color: #fff;
        }

        &.dropdown {
          position: relative;
          display: inline-block;

          .dropdown-content {
            display: none;
            position: absolute;
            top: 2.5em;
            left: 0;
            background-color: #343434;
            border-radius: 5px;
            min-width: 220px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;

            .dropdown-content__item {
              color: #fff;
              padding: 12px 16px;
              display: block;

              .dropdown-content__text {
                color: #bbbbbb;
                text-transform: uppercase;

                .dropdown-content__icon {
                  display: none;
                }
              }

              &:hover {
                &.submenu--open {
                  .dropdown-submenu {
                    display: block;
                    position: absolute;
                    right: -160px;
                  }
                }
              }

              &:hover {
                .dropdown-content__text {
                  color: #fff;

                  .dropdown-content__icon {
                    display: inline;
                    float: right;
                  }
                }
              }

              .dropdown-submenu {
                display: none;
                position: relative;
                background-color: #343434;
                border-radius: 5px;
                min-width: 160px;
                transform: translateY(-1.75rem);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                z-index: 1;

                .dropdown-submenu__item {
                  padding: 12px 16px;

                  .dropdown-submenu__text {
                    color: #bbbbbb;
                    text-transform: uppercase;

                    &:hover {
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          background-color: #343434;
          border-radius: 7px;

          .header-menu__text {
            color: $secondary-color;
          }

          .dropdown-content {
            display: block;
          }
        }
      }

      .header-logo {
        border: 1px solid #fff;
        padding: 1em 3em;
        color: #fff;
        text-align: center;
        margin: 0 2em;

        .header-logo__title {
          color: #fff;
          display: block;
          font-size: 3em;
          text-transform: uppercase;
          font-weight: 600;
        }

        .header-logo__subtitle {
          color: #fff;
          font-size: 0.9em;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  .header-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;

    .header-greeting__title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 5em;
    }

    .header-greeting__subtitle {
      color: #fff;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5em;

      i {
        margin: 0 2em;
        font-size: 0.3rem;
      }

      span {
        font-size: inherit;
        font-weight: 600;
        color: $secondary-color;
      }
    }

    .header-greeting__btn {
      margin-top: 3rem;
    }
  }
}

.about {
  margin: 0 4rem;
  padding-bottom: 5rem;

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .about-content__img {
      width: 45%;
      height: 95%;
      box-shadow: 0 15px 15px 5px $primary-color;

      img {
        width: 100%;
      }
    }

    .about-content__text {
      width: 50%;

      .about-content__title {
        font-size: 1.5em;
        font-weight: 600;
      }

      .about-content__description {
        .about-content__paragraph {
          margin-top: 1.3em;

          &:last-child {
            font-style: italic;
          }
        }
      }

      .about-content__buttons {
        margin-top: 3rem;

        .about-btn {
          color: $secondary-color;
          border: 1px solid $secondary-color;
          margin-right: 25px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.amazing {
  background: url("../img/amazing.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 3rem;

  .section__title {
    .section__header {
      color: #fff;

      &::after {
        background-color: #fff;
      }
    }

    .section__subheader {
      color: #fff;
    }
  }

  .amazing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;

    .amazing-content__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 30%;
      margin: 2.5rem 0;

      .amazing-content__icon {
        font-size: 2.5em;
        margin-right: 1em;
        color: $secondary-color;
      }

      .amazing-content__text {
        .amazing-content__header {
          font-size: 1.1em;
          text-transform: uppercase;
          font-weight: 600;
          color: #fff;
        }

        .amazing-content__subheader {
          color: #fff;
          font-weight: 300;
          text-align: justify;
        }
      }
    }
  }
}

.team {
  padding-bottom: 3rem;

  .team__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    .team-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;

      .team-item__photo {
        width: 100%;
      }

      .team-item__name {
        margin: 1em 0;

        .team-item__post {
          color: $secondary-color;
          font-weight: 600;

          &::before {
            content: '/ ';
          }
        }
      }

      .team-item__description {
        text-align: justify;
      }

      .team-item__social {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .team-item__scnetw {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 50%;
          width: 2.5em;
          height: 2.5em;
          background-color: #f0f0f0;
          margin-right: 1.3em;
          transition: 0.3s;

          &:last-child {
            margin-right: 0;
          }

          .team-item__link {
            i {
              font-size: 1.3em;
            }
          }

          &:hover {
            background-color: $secondary-color;

            .team-item__link {
              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.portfolio {
  padding: 0;

  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

    .portfolio-content__item {
      width: 25%;
      height: 250px;
      position: relative;

      .portfolio-content__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.5s;
      }

      .portfolio-content__icons {
        justify-content: center;
        align-items: center;
        position: absolute;
        display: none;
        width: 100%;
        top: 30%;
        margin-top: -25px;

        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border: 3px solid #f0f0f0;
          border-radius: 50%;
          margin-right: 20px;

          i {
            color: #f0f0f0;
            font-size: 1.5em;
          }

          &:hover {
            background-color: #f0f0f0;

            i {
              color: $secondary-color;
            }
          }
        }
      }

      .portfolio-content__description {
        position: absolute;
        display: none;
        height: 35%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f0f0f0;

        .portfolio-content__title {
          font-size: 1.5em;
          margin-top: 0.5em;
          text-align: center;
          color: #363636;
        }

        .portfolio-content__kind {
          text-align: center;
          text-transform: uppercase;
          margin-top: 0.3em;
          font-size: 1.2em;
          color: $primary-color;
        }
      }

      &:hover {
        cursor: pointer;

        .portfolio-content__img {
          filter: brightness(0.7);
        }

        .portfolio-content__icons {
          display: flex;
        }

        .portfolio-content__description {
          display: block;
        }
      }
    }
  }
}

.buy {
  padding-bottom: 5rem;

  .section__title {
    .section__header {
      margin-bottom: 2em;
    }

    .section__subheader {
      span {
        color: $secondary-color;
      }
    }
  }

  .buy-controls {
    .buy-controls__btn {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      color: #f0f0f0;

      i {
        margin-right: 0.5em;
      }

      &:first-child {
        margin-right: 2rem;
      }

      &:hover {
        background-color: #fff;
        color: $secondary-color;
      }
    }
  }
}

.clients {
  background-image: url("../img/clients.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 5rem;

  .section__title {
    .section__header {
      font-weight: 400;
      color: #f0f0f0;

      &::after {
        background-color: #f0f0f0;
      }
    }
  }

  .clients-content {
    width: 55%;
    margin-top: 5em;

    .clients-content__title {
      margin-bottom: 1em;
      text-transform: uppercase;
      font-size: 2em;
      color: #f0f0f0;
      text-align: center;
    }

    .clients-content__text {
      color: #f0f0f0;
      text-align: center;
    }

    .clients-content__author {
      margin-top: 1em;
      color: #f0f0f0;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;

      .clients-content__corp {
        font-size: 1em;
        color: $secondary-color;

        &::before {
          content: ' / ';
          color: #f0f0f0;
        }
      }
    }
  }
}

.tooltip-clients {
  height: 150px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .tooltip-clients__content {
    width: 90%;
    display: flex;
    justify-content: space-around;

    .tooltip-clients__item {
      cursor: pointer;
      width: 200px;

      .tooltip {
        position: relative;
        display: inline-block;

        .tooltiptext {
          visibility: hidden;
          width: 180px;
          background-color: #555;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          position: absolute;
          z-index: 10;
          transform: translateY(10px);
          margin-left: -160px;
          opacity: 0;
          transition: opacity 0.3s;

          .tooltiptext__company {
            display: block;
            font-size: 0.9em;
            color: #fff;
          }

          .tooltiptext__text {
            display: block;
            margin-top: 0.4em;
            color: #fff;
            font-size: 0.8em;
          }

          .tooltiptext__site {
            display: block;
            margin-top: 0.4em;
            font-size: 0.8em;
            color: $secondary-color;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
          }
        }
      }

      &:hover {
        .tooltip {
          .tooltiptext {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.howwedo {
  .howwedo-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5rem;

    .howwedo-content__picture {
      width: 40%;
      max-width: 40%;
    }

    .howwedo-content__list {
      width: 50%;

      .howwedo-content__item {
        display: flex;
        align-items: flex-start;
        margin-top: 3.5rem;

        .howwedo-icon-bg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 65px;
          height: 65px;
          background-color: $secondary-color;
          border-radius: 50%;
          margin-right: 1rem;

          .howwedo-content__icon {
            color: #f7f7f7;
            font-size: 2em;
          }
        }

        .howwedo-content__container {
          width: 90%;

          .howwedo-content__title {
            font-size: 1.5em;
            margin-bottom: 1em;
          }

          .howwedo-content__text {}
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.contacts {
  background-color: #303030;

  .contacts-content {
    padding-bottom: 2rem;
    width: 90%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .contacts-content__item {
      width: 20%;
      margin-top: 2rem;

      .contacts-content__title {
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 1em;
        text-transform: capitalize;

        i {
          margin-right: 0.5em;
        }
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .contact-info__subtitle {
          margin-top: 1em;
          font-size: 0.9em;
          color: #fff;
        }

        .contact-info__adress {
          color: #fff;
          margin-top: 1em;

          span {
            color: #fff;
            display: block;
          }

          .contact-info__street {
            color: #acabab;
          }
        }

        .contact-info__phone {
          margin-top: 1em;

          span {
            color: #fff;
            display: block;
          }

          .contact-info__number {
            color: #acabab;
          }
        }

        .contact-info__mail {
          margin-top: 1em;

          span {
            display: block;
            color: #fff;
          }

          .contact-info__mailadr {
            color: #acabab;
          }
        }

        .contact-info__social {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 1em;

          .contact-info__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            width: 2.5em;
            height: 2.5em;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;

            .contact-info__link {
              i {
                font-size: 1.3em;
                color: #fff;
              }
            }

            &:hover {
              border: 1px solid $secondary-color;

              .contact-info__link {
                i {
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }

      .latest-post__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 1em;
        .latest-post__img {
          width: 45%;
          margin-right: 1em;
          display: block;
        }
        .latest-post__title {
          color: #fff;
          margin-bottom: 0.5em;
          text-transform: capitalize;
        }
        .latest-post__subtitle {
          color: #acabab;
          font-size: 0.9em;
        }
        .latest-post__date {
          color: $secondary-color;
          margin-top: 0.5em;
        }
      }

      .service-content {
        .service-content__item {
          margin-top: 1.5em;
          .service-content__title {
            display: flex;
            justify-content: space-between;
            color: #fff;
            text-transform: capitalize;
            i {
              padding: 0.5em;
              background-color: $secondary-color;
              border-radius: 50%;
              font-size: 0.75em;
              cursor: pointer;
            }
          }
          .service-content__subtitle {
            position: relative;
            p {
              margin: 0.5em 0 1em 0;
              text-align: justify;
              color: #acabab;
            }
            &::after {
              content: '';
              position: absolute;
              bottom: -1em;
              width: 100%;
              left: 0;

              height: 2px;
              background-color: #fff;
            }
          }
        }
      }

      .contacts-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .formcontrol {
          width: 90%;
          border-radius: 3px;
          border: 1px solid #acabab;
          padding: 10px 0 10px 10px;
          margin-bottom: 1em;
          outline-style: none;
          font-size: 0.9em;
          box-shadow: none;
          font-family: 'Open Sans';
          resize: none;
        }
        .contacts-form__button {
          background-color: $secondary-color;
          border: 1px solid $secondary-color;
          border-radius: 3px;
          padding: 10px 25px;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  background-color: #202020;
  padding: 1rem 0;
  // height: 100px;

  .footer-content {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;

    .left-part {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-logo__title {
          color: #fff;
          font-size: 2em;
          display: block;
          span {
            font-size: inherit;
            color: $secondary-color;
          }
        }

        .footer-logo__subtitle {
          color: #fff;
          font-size: 1em;
          text-transform: uppercase;
        }
      }
      .footer-content__copyright {
        p {
          color: #fff;
        }
      }
    }
    .rigth-part {
      width: 30%;
      .footer-menu {
        .footer-menu__item {
          display: inline-block;
          padding: 10px;
          .footer-menu__link {
            color: #acabab;
            text-transform: capitalize;
          }
          &:hover {
            .footer-menu__link {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
