body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #666666;
  list-style: none;
  list-style-image: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em; }

.btn {
  padding: 1em 1.5em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.3s; }
  .btn:hover {
    background-color: #ff7200;
    border: 1px solid #ff7200; }

.section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .section .wrapper .section__title {
    width: 50%; }
    .section .wrapper .section__title .section__header {
      color: #666666;
      font-weight: bolder;
      margin-top: 2em;
      font-size: 2.5em;
      text-align: center;
      text-transform: uppercase;
      position: relative; }
      .section .wrapper .section__title .section__header::after {
        content: '';
        position: absolute;
        bottom: -0.8rem;
        width: 12rem;
        left: 50%;
        margin-left: -6rem;
        height: 2px;
        background-color: #666666; }
    .section .wrapper .section__title .section__subheader {
      margin: 2.5rem 0 4rem;
      text-align: center; }

.wrapper {
  padding: 0 5% 5rem; }

.header {
  height: 100vh;
  background: url("../img/background.png");
  background-position: center;
  background-size: cover;
  border-top: 3px solid #ff7200;
  border-bottom: 3px solid #ff7200; }
  .header .header__nav {
    margin: 3rem 5% 0; }
    .header .header__nav .header-menu {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header__nav .header-menu .header-menu__item {
        display: inline-block;
        padding: 1em; }
        .header .header__nav .header-menu .header-menu__item .header-menu__text {
          text-transform: uppercase;
          font-weight: 600;
          color: #fff; }
        .header .header__nav .header-menu .header-menu__item.dropdown {
          position: relative;
          display: inline-block; }
          .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content {
            display: none;
            position: absolute;
            top: 2.5em;
            left: 0;
            background-color: #343434;
            border-radius: 5px;
            min-width: 220px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            z-index: 1; }
            .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item {
              color: #fff;
              padding: 12px 16px;
              display: block; }
              .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item .dropdown-content__text {
                color: #bbbbbb;
                text-transform: uppercase; }
                .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item .dropdown-content__text .dropdown-content__icon {
                  display: none; }
              .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item:hover.submenu--open .dropdown-submenu {
                display: block;
                position: absolute;
                right: -160px; }
              .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item:hover .dropdown-content__text {
                color: #fff; }
                .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item:hover .dropdown-content__text .dropdown-content__icon {
                  display: inline;
                  float: right; }
              .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item .dropdown-submenu {
                display: none;
                position: relative;
                background-color: #343434;
                border-radius: 5px;
                min-width: 160px;
                transform: translateY(-1.75rem);
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                z-index: 1; }
                .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item .dropdown-submenu .dropdown-submenu__item {
                  padding: 12px 16px; }
                  .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item .dropdown-submenu .dropdown-submenu__item .dropdown-submenu__text {
                    color: #bbbbbb;
                    text-transform: uppercase; }
                    .header .header__nav .header-menu .header-menu__item.dropdown .dropdown-content .dropdown-content__item .dropdown-submenu .dropdown-submenu__item .dropdown-submenu__text:hover {
                      color: #fff; }
        .header .header__nav .header-menu .header-menu__item:hover {
          background-color: #343434;
          border-radius: 7px; }
          .header .header__nav .header-menu .header-menu__item:hover .header-menu__text {
            color: #ff7200; }
          .header .header__nav .header-menu .header-menu__item:hover .dropdown-content {
            display: block; }
      .header .header__nav .header-menu .header-logo {
        border: 1px solid #fff;
        padding: 1em 2em;
        width: 14em;
        color: #fff;
        text-align: center;
        margin: 0 1em; }
        .header .header__nav .header-menu .header-logo .header-logo__title {
          color: #fff;
          display: block;
          font-size: 3em;
          text-transform: uppercase;
          font-weight: 600; }
        .header .header__nav .header-menu .header-logo .header-logo__subtitle {
          color: #fff;
          font-size: 0.9em;
          text-transform: uppercase;
          font-weight: 600; }
  .header .header-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6em; }
    .header .header-greeting .header-greeting__title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 5em; }
    .header .header-greeting .header-greeting__subtitle {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.5em; }
      .header .header-greeting .header-greeting__subtitle i {
        margin: 0 2em;
        font-size: 0.3rem; }
      .header .header-greeting .header-greeting__subtitle span {
        font-size: inherit;
        font-weight: 600;
        color: #ff7200; }
    .header .header-greeting .header-greeting__btn {
      margin-top: 3rem; }

.about .wrapper .about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .about .wrapper .about-content .about-content__img {
    width: 45%;
    box-shadow: 0 15px 15px 5px #666666; }
    .about .wrapper .about-content .about-content__img img {
      object-fit: cover;
      width: 100%; }
  .about .wrapper .about-content .about-content__text {
    width: 50%; }
    .about .wrapper .about-content .about-content__text .about-content__title {
      font-size: 1.5em;
      font-weight: 600; }
    .about .wrapper .about-content .about-content__text .about-content__description .about-content__paragraph {
      margin-top: 1.3em; }
      .about .wrapper .about-content .about-content__text .about-content__description .about-content__paragraph:last-child {
        font-style: italic; }
    .about .wrapper .about-content .about-content__text .about-content__buttons {
      margin-top: 3rem; }
      .about .wrapper .about-content .about-content__text .about-content__buttons .about-btn {
        color: #ff7200;
        border: 1px solid #ff7200;
        margin-right: 25px; }
        .about .wrapper .about-content .about-content__text .about-content__buttons .about-btn:hover {
          color: #fff; }

.amazing {
  background: url("../img/amazing.png");
  background-position: center;
  background-size: cover; }
  .amazing .wrapper {
    padding-bottom: 3rem; }
    .amazing .wrapper .section__title .section__header {
      color: #fff; }
      .amazing .wrapper .section__title .section__header::after {
        background-color: #fff; }
    .amazing .wrapper .section__title .section__subheader {
      color: #fff; }
    .amazing .wrapper .amazing-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      .amazing .wrapper .amazing-content .amazing-content__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 30%;
        margin: 2.5rem 0; }
        .amazing .wrapper .amazing-content .amazing-content__item .amazing-content__icon {
          font-size: 2.5em;
          margin-right: 1em;
          color: #ff7200; }
        .amazing .wrapper .amazing-content .amazing-content__item .amazing-content__text .amazing-content__header {
          font-size: 1.1em;
          text-transform: uppercase;
          font-weight: 600;
          color: #fff; }
        .amazing .wrapper .amazing-content .amazing-content__item .amazing-content__text .amazing-content__subheader {
          color: #fff;
          font-weight: 300;
          text-align: justify; }

.team .wrapper .team__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  .team .wrapper .team__list .team-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%; }
    .team .wrapper .team__list .team-item .team-item__photo {
      width: 100%; }
    .team .wrapper .team__list .team-item .team-item__name {
      margin: 1em 0; }
      .team .wrapper .team__list .team-item .team-item__name .team-item__post {
        color: #ff7200;
        font-weight: 600; }
        .team .wrapper .team__list .team-item .team-item__name .team-item__post::before {
          content: '/ '; }
    .team .wrapper .team__list .team-item .team-item__description {
      text-align: justify; }
    .team .wrapper .team__list .team-item .team-item__social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem; }
      .team .wrapper .team__list .team-item .team-item__social .team-item__scnetw {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        background-color: #f0f0f0;
        margin-right: 1.3em;
        transition: 0.3s; }
        .team .wrapper .team__list .team-item .team-item__social .team-item__scnetw:last-child {
          margin-right: 0; }
        .team .wrapper .team__list .team-item .team-item__social .team-item__scnetw .team-item__link i {
          font-size: 1.3em; }
        .team .wrapper .team__list .team-item .team-item__social .team-item__scnetw:hover {
          background-color: #ff7200; }
          .team .wrapper .team__list .team-item .team-item__social .team-item__scnetw:hover .team-item__link i {
            color: #fff; }

.portfolio .wrapper {
  padding: 0; }
  .portfolio .wrapper .portfolio-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap; }
    .portfolio .wrapper .portfolio-content .portfolio-content__item {
      width: 25%;
      height: 250px;
      position: relative; }
      .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: 0.5s; }
      .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__icons {
        justify-content: center;
        align-items: center;
        position: absolute;
        display: none;
        width: 100%;
        top: 30%;
        margin-top: -25px; }
        .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__icons .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border: 3px solid #f0f0f0;
          border-radius: 50%;
          margin-right: 20px; }
          .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__icons .icon-container i {
            color: #f0f0f0;
            font-size: 1.5em; }
          .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__icons .icon-container:hover {
            background-color: #f0f0f0; }
            .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__icons .icon-container:hover i {
              color: #ff7200; }
      .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__description {
        position: absolute;
        display: none;
        height: 35%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f0f0f0; }
        .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__description .portfolio-content__title {
          font-size: 1.5em;
          margin-top: 0.5em;
          text-align: center;
          color: #363636; }
        .portfolio .wrapper .portfolio-content .portfolio-content__item .portfolio-content__description .portfolio-content__kind {
          text-align: center;
          text-transform: uppercase;
          margin-top: 0.3em;
          font-size: 1.2em;
          color: #666666; }
      .portfolio .wrapper .portfolio-content .portfolio-content__item:hover {
        cursor: pointer; }
        .portfolio .wrapper .portfolio-content .portfolio-content__item:hover .portfolio-content__img {
          filter: brightness(0.7); }
        .portfolio .wrapper .portfolio-content .portfolio-content__item:hover .portfolio-content__icons {
          display: flex; }
        .portfolio .wrapper .portfolio-content .portfolio-content__item:hover .portfolio-content__description {
          display: block; }

.buy .wrapper .section__title .section__header {
  margin-bottom: 1.5em; }
.buy .wrapper .section__title .section__subheader span {
  color: #ff7200; }
.buy .wrapper .buy-controls .buy-controls__btn {
  text-align: center;
  background-color: #ff7200;
  border: 1px solid #ff7200;
  color: #f0f0f0;
  width: 12rem; }
  .buy .wrapper .buy-controls .buy-controls__btn i {
    margin-right: 0.5em; }
  .buy .wrapper .buy-controls .buy-controls__btn:first-child {
    margin-right: 2rem; }
  .buy .wrapper .buy-controls .buy-controls__btn:hover {
    background-color: #fff;
    color: #ff7200; }

.clients {
  background: url("../img/clients.png");
  background-position: center;
  background-size: cover; }
  .clients .wrapper .section__title .section__header {
    font-weight: 400;
    color: #f0f0f0; }
    .clients .wrapper .section__title .section__header::after {
      background-color: #f0f0f0; }
  .clients .wrapper .clients-content {
    width: 55%;
    margin-top: 5em; }
    .clients .wrapper .clients-content .clients-content__title {
      margin-bottom: 1em;
      text-transform: uppercase;
      font-size: 2em;
      color: #f0f0f0;
      text-align: center; }
    .clients .wrapper .clients-content .clients-content__text {
      color: #f0f0f0;
      text-align: center; }
    .clients .wrapper .clients-content .clients-content__author {
      margin-top: 1em;
      color: #f0f0f0;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
      text-align: center; }
      .clients .wrapper .clients-content .clients-content__author .clients-content__corp {
        font-size: 1em;
        color: #ff7200; }
        .clients .wrapper .clients-content .clients-content__author .clients-content__corp::before {
          content: ' / ';
          color: #f0f0f0; }

.tooltip-clients .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7200;
  height: 150px;
  padding: 0; }
  .tooltip-clients .wrapper .tooltip-clients__content {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item {
      cursor: pointer;
      width: 200px; }
      .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item .tooltip {
        position: relative;
        display: inline-block; }
        .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item .tooltip .tooltiptext {
          position: absolute;
          width: 180px;
          padding: 5px 0;
          margin-left: -160px;
          transform: translateY(10px);
          background-color: #555;
          text-align: center;
          opacity: 0;
          border-radius: 6px;
          transition: opacity 0.3s; }
          .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item .tooltip .tooltiptext .tooltiptext__company {
            display: block;
            font-size: 0.9em;
            color: #fff; }
          .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item .tooltip .tooltiptext .tooltiptext__text {
            display: block;
            margin-top: 0.4em;
            color: #fff;
            font-size: 0.8em; }
          .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item .tooltip .tooltiptext .tooltiptext__site {
            display: block;
            margin-top: 0.4em;
            font-size: 0.8em;
            color: #ff7200; }
          .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent; }
      .tooltip-clients .wrapper .tooltip-clients__content .tooltip-clients__item:hover .tooltip .tooltiptext {
        opacity: 1; }

.howwedo .wrapper .howwedo-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5rem; }
  .howwedo .wrapper .howwedo-content .howwedo-content__picture {
    width: 40%;
    max-width: 40%; }
  .howwedo .wrapper .howwedo-content .howwedo-content__list {
    width: 50%; }
    .howwedo .wrapper .howwedo-content .howwedo-content__list .howwedo-content__item {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 3.5rem; }
      .howwedo .wrapper .howwedo-content .howwedo-content__list .howwedo-content__item .howwedo-icon-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        background-color: #ff7200;
        border-radius: 50%;
        margin-right: 1rem; }
        .howwedo .wrapper .howwedo-content .howwedo-content__list .howwedo-content__item .howwedo-icon-bg .howwedo-content__icon {
          color: #f7f7f7;
          font-size: 2em; }
      .howwedo .wrapper .howwedo-content .howwedo-content__list .howwedo-content__item .howwedo-content__container {
        width: 90%; }
        .howwedo .wrapper .howwedo-content .howwedo-content__list .howwedo-content__item .howwedo-content__container .howwedo-content__title {
          font-size: 1.5em;
          margin-bottom: 1em; }
      .howwedo .wrapper .howwedo-content .howwedo-content__list .howwedo-content__item:first-child {
        margin-top: 0; }

.contacts {
  background-color: #303030; }
  .contacts .wrapper .contacts-content {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .contacts .wrapper .contacts-content .contacts-content__item {
      width: 22%; }
      .contacts .wrapper .contacts-content .contacts-content__item .contacts-content__title {
        margin-top: 2rem;
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 1em;
        text-transform: capitalize; }
        .contacts .wrapper .contacts-content .contacts-content__item .contacts-content__title i {
          margin-right: 0.5em; }
      .contacts .wrapper .contacts-content .contacts-content__item .contact-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column; }
        .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__subtitle {
          margin-top: 1em;
          font-size: 0.9em;
          color: #fff; }
        .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__adress {
          color: #fff;
          margin-top: 1em; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__adress span {
            color: #fff;
            display: block; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__adress .contact-info__street {
            color: #acabab; }
        .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__phone {
          margin-top: 1em; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__phone span {
            color: #fff;
            display: block; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__phone .contact-info__number {
            color: #acabab; }
        .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__mail {
          margin-top: 1em; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__mail span {
            display: block;
            color: #fff; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__mail .contact-info__mailadr {
            color: #acabab; }
        .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__social {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 1em; }
          .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__social .contact-info__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            width: 2.5em;
            height: 2.5em;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer; }
            .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__social .contact-info__icon .contact-info__link i {
              font-size: 1.3em;
              color: #fff; }
            .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__social .contact-info__icon:hover {
              border: 1px solid #ff7200; }
              .contacts .wrapper .contacts-content .contacts-content__item .contact-info .contact-info__social .contact-info__icon:hover .contact-info__link i {
                color: #ff7200; }
      .contacts .wrapper .contacts-content .contacts-content__item .latest-post__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 1em; }
        .contacts .wrapper .contacts-content .contacts-content__item .latest-post__item .latest-post__img {
          width: 45%;
          margin-right: 1em;
          display: block; }
        .contacts .wrapper .contacts-content .contacts-content__item .latest-post__item .latest-post__title {
          color: #fff;
          margin-bottom: 0.5em;
          text-transform: capitalize; }
        .contacts .wrapper .contacts-content .contacts-content__item .latest-post__item .latest-post__subtitle {
          color: #acabab;
          font-size: 0.9em; }
        .contacts .wrapper .contacts-content .contacts-content__item .latest-post__item .latest-post__date {
          color: #ff7200;
          margin-top: 0.5em; }
      .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item {
        margin-top: 1.5em; }
        .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item .service-content__title {
          width: 100%;
          color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-transform: capitalize; }
          .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item .service-content__title .i-container {
            width: 1.5rem;
            height: 1.5rem;
            background-color: #ff7200;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item .service-content__title .i-container i {
              text-align: center;
              font-size: 0.75em;
              cursor: pointer;
              color: #fff; }
        .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item .service-content__subtitle {
          position: relative; }
          .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item .service-content__subtitle p {
            margin: 0.5em 0 1em;
            text-align: justify;
            color: #acabab; }
          .contacts .wrapper .contacts-content .contacts-content__item .service-content .service-content__item .service-content__subtitle::after {
            content: '';
            position: absolute;
            bottom: -1em;
            width: 100%;
            left: 0;
            height: 2px;
            background-color: #fff; }
      .contacts .wrapper .contacts-content .contacts-content__item .contacts-form {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column; }
        .contacts .wrapper .contacts-content .contacts-content__item .contacts-form .formcontrol {
          width: 90%;
          border-radius: 3px;
          border: 1px solid #acabab;
          padding: 10px 0 10px 10px;
          margin-bottom: 1em;
          outline-style: none;
          font-size: 0.9em;
          box-shadow: none;
          font-family: 'Open Sans';
          resize: none; }
        .contacts .wrapper .contacts-content .contacts-content__item .contacts-form .contacts-form__button {
          background-color: #ff7200;
          border: 1px solid #ff7200;
          border-radius: 3px;
          padding: 10px 25px;
          cursor: pointer; }

footer {
  background-color: #202020; }
  footer .wrapper {
    padding: 1rem 0; }
    footer .wrapper .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .wrapper .footer-content .left-part {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        footer .wrapper .footer-content .left-part .footer-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          footer .wrapper .footer-content .left-part .footer-logo .footer-logo__title {
            color: #fff;
            font-size: 2em;
            text-align: center; }
            footer .wrapper .footer-content .left-part .footer-logo .footer-logo__title span {
              font-size: inherit;
              color: #ff7200; }
          footer .wrapper .footer-content .left-part .footer-logo .footer-logo__subtitle {
            color: #fff;
            font-size: 1em;
            text-align: center;
            text-transform: uppercase; }
        footer .wrapper .footer-content .left-part .footer-content__copyright p {
          color: #fff; }
      footer .wrapper .footer-content .rigth-part {
        width: 40%; }
        footer .wrapper .footer-content .rigth-part .footer-menu .footer-menu__item {
          display: inline-block;
          padding: 10px; }
          footer .wrapper .footer-content .rigth-part .footer-menu .footer-menu__item .footer-menu__link {
            color: #acabab;
            text-transform: capitalize; }
          footer .wrapper .footer-content .rigth-part .footer-menu .footer-menu__item:hover .footer-menu__link {
            color: #fff; }

@media (max-width: 992px) {
  .header {
    height: auto;
    padding-bottom: 3rem; }
    .header .header__nav {
      display: none; }
    .header .header-greeting .header-greeting__btn {
      font-size: 1.5em; }

  .section .wrapper .section__title {
    width: 90%; }
    .section .wrapper .section__title .section__header {
      font-size: 2em; }
    .section .wrapper .section__title .section__subheader {
      font-size: 1.1em; }
      .section .wrapper .section__title .section__subheader span {
        font-size: 1em; }

  footer .footer-content .left-part {
    width: 60%; }
    footer .footer-content .left-part .footer-logo {
      margin-right: 2rem;
      font-size: 0.75em; }
    footer .footer-content .left-part .footer-content__copyright {
      text-align: center; }
      footer .footer-content .left-part .footer-content__copyright p {
        font-size: 0.75em; }
  footer .footer-content .rigth-part {
    width: 30%; }
    footer .footer-content .rigth-part .footer-menu {
      text-align: center; }
      footer .footer-content .rigth-part .footer-menu .footer-menu__item .footer-menu__link {
        font-size: 0.75em; } }
@media (max-width: 768px) {
  .about .wrapper .about-content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .about .wrapper .about-content .about-content__img {
      display: none; }
    .about .wrapper .about-content .about-content__text {
      width: 90%; }
    .about .wrapper .about-content .about-content__buttons .about-btn {
      margin-top: 1rem;
      display: block; }

  .amazing .wrapper .amazing-content .amazing-content__item {
    width: 45%;
    margin-top: 1rem; }
    .amazing .wrapper .amazing-content .amazing-content__item .amazing-content__icon {
      font-size: 1.5em; }
    .amazing .wrapper .amazing-content .amazing-content__item .amazing-content__text {
      width: 85%; } }
@media (max-width: 576px) {
  .header .header-greeting {
    font-size: 0.5em; }

  .amazing .wrapper .amazing-content .amazing-content__item {
    margin: 0.5rem 0;
    width: 90%; } }
@media (max-width: 368px) {
  .buy .wrapper .buy-controls .buy-controls__btn {
    display: block;
    margin-top: 1rem; }
    .buy .wrapper .buy-controls .buy-controls__btn:first-child {
      margin: 0; } }

/*# sourceMappingURL=style.css.map */
